* {
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --bg-primary: #F4F5FB;
  --bg-secondary: #FFF;

  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;

  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;

  --border-primary: #D1D5DB;
  --border-secondary: #B9C2D0;

  /* Fonts */
  --font-family: "Inter", sans-serif;
  --title: 700 24px/32px var(--font-family);
  --label: 600 16px/20px var(--font-family);
  --paragraph: 500 16px/20px var(--font-family);
  --link: 500 14px/16px var(--font-family);
}

body {
  background-color: var(--bg-primary);
  font: var(--paragraph);
}

.container {
  width: 627px;
}