main {
  margin: 0 auto;
}

section {
  a {
    text-decoration: none;
    font: var(--link);
    color: var(--color-brand);
  }

  a:hover {
    color: var(--color-brand-hover)
  }

  h1 {
    font: var(--title);
    padding-block: 16px 44px;
  }
}

#form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 16px;
  margin-bottom: 40px;

  input {
    height: 44px;
    border-radius: 12px;
    padding-left: 12px;
    border: solid 3px var(--border-primary);
    font: var(--input);
    color: var(--content-secondary);
  }
  
  input::placeholder {
    color: var(--content-tertiary);
  }

  input:hover {
    border-color: var(--border-secondary);
  }

  input:focus, input:active {
    outline: none;
    border-color: var(--color-brand);
  }

  button {
    height: 44px;
    border-radius: 12px;
    background-color: var(--color-brand);
    color: #FFF;
    font: var(--label);
    border: none;
  }

  button:hover {
    background-color: var(--color-brand-hover);
  }
}

@media (max-width: 576px) {
  #form {
    grid-template-columns: 1fr;
  }
}

ul {
  display: grid;
  gap: 12px;
  list-style: none;
  margin-bottom: 36px;
}

.list {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: var(--bg-secondary);
  color: var(--content-secondary);
  height: 49px;
  box-sizing: border-box;
  border-radius: 12px;
  padding-inline: 12px 16.5px;
  
  .unchecked {
    background-image: url(../assets/icons/state=Default.svg);
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  .unchecked:hover {
    background-image: url(../assets/icons/state=hover.svg);
  }

  .checked {
    background-image: url(../assets/icons/state=selected.svg);
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  button {
    border: none;
    background-color: #fff;
    cursor: pointer;
  }

  img {
    width: 16px;
    height: 16px;
  }
}



.list > :last-child {
  display: flex;
  gap: 12px;
  margin-left: auto;
}

#footer {
  display: flex;
  align-items: center;
  background-color: var(--color-danger);
  height: 44px;
  border-radius: 12px;
  align-items: center;
  padding-inline: 12px;
  margin-bottom: 137px;
  color: #FFF;
  font: var(--label);

  img{
    width: 20px;
    height: 20px;
  }

  button {
    border: none;
    background-color: var(--color-danger);
    cursor: pointer;
  }
}

#footer > :first-child {
  display: flex;
  gap: 8px;
  margin-right: auto;
}

.hide-alert {
  display: none;
}