main {
  margin: 0 auto;
}

section {
  a {
    text-decoration: none;
    font: var(--link);
    color: var(--color-brand);
  }

  a:hover {
    color: var(--color-brand-hover)
  }

  h1 {
    font: var(--title);
    padding-block: 16px 44px;
  }

  #form {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 16px;

    input {
      height: 44px;
      border-radius: 12px;
      border: solid 3px var(--border-primary);
    }

    input:hover {
      border-color: var(--border-secondary);
    }

    input:focus, input:active {
      outline: none;
      border-color: var(--color-brand);
    }

    button {
      border-radius: 12px;
      background-color: var(--color-brand);
      color: #FFF;
      font: var(--label);
      border: none;
    }

    button:hover {
      background-color: var(--color-brand-hover);
    }
  }
}